@model List<GetAllTraineeVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card m-1" >
    <div class="row">
        <div class="col-8">
        </div>
        <div class="col-4 text-end">
            <a class="btn btn-outline-dark p-1  m-1 pull-right" asp-action="Create" asp-controller="Trainee"> Add </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="myTable" class="table table-row-dashed  " >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th> Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Birthdate</th>
                        <th>Gender</th>
                        <th>Track</th>
                        <th>Courses</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Name</td>
                            <td>@item.Phone</td>
                            <td>@item.Email</td>
                            <td>@item.Birthdate</td>
                            <td>@item.Gender</td>
                            <td>@item.Trak.Name</td>

                            <td>@item.Courses.Count()</td>

                            <td class="dropdown">
                                <button class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                   Toggel Status
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" asp-action="getById" asp-controller="Trainee" asp-route-id="@item.ID">Select</a></li>
                                    <li><a class="dropdown-item" asp-action="Edit" asp-controller="Trainee" asp-route-id="@item.ID">Edit</a></li>
                                    <li><a class="dropdown-item" asp-action="Delete" asp-controller="Trainee" asp-route-id="@item.ID">Delete</a></li>
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Js {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>

}

